# Logging
LOG_LEVEL=INFO          # DEBUG, INFO, WARNING, ERROR, CRITICAL
LOG_TO_FILE=true        # true/false
LOG_DIR=logs
LOG_FILE_NAME=litterbox_sync_YYYYMMDD.log

# Database
DATABASE_URL=postgresql://example_user:example_password@db:5432/example_db

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=user
RABBITMQ_PASSWORD=password
RABBITMQ_VHOST=/

# Flask / JWT
JWT_SECRET_KEY=change_me_in_production